.user {
  display: flex;
  align-items: center;
  margin: 8px 0;
}

.item {
  flex: 1;
  font-size: 24px;
}

button {
  padding: 4px 12px;
  font-size: 24px;
  cursor: pointer;
}

.right-align {
  text-align: right;
}

.left-align {
  text-align: left
}